.page-footer{
    width: 100%;
    height: 70px;
    background: #32485C;
    color: palegreen;
    position: fixed;
    bottom: 0px;
    text-align: center;
    z-index: 20;
}
.container-fluid{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 80px;
}
